[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
numpy = "*"
torch = "*"
transformers = "*"
nltk = "*"
mock = "*"
schedule = "*"
wikipedia = "*"
openai = "*"
python-dotenv = "*"
tiktoken = "*"
regex = "*"
flask = "*"

[dev-packages]
pytest = "*"
pylint = "*"
coverage = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
