.bg-orange {
    background-color: #ff5f05 !important;
    color: #13294b !important;
}

.text-orange {
    color: #ff5f05 !important;
}

.bg-blue {
    background-color: #13294b !important;
    color: #ff5f05 !important;
}

.text-blue {
    color: #13294b !important;
}

.twitter-tweet {
    margin-right: auto !important;
    margin-left: auto !important;
}
