{% extends 'base.html' %} {% block content %}
<div id="scheduler" class="container mt-4">
    <div class="h1 text-center">Scheduler</div>
    <div class="container-fluid">{% include 'scheduler.html' %}</div>
</div>
<div id="articles" class="container mt-4">
    <div class="h1 text-center">Articles</div>
    <div class="d-flex justify-content-between align-items-center">
        <a
            href="{{ url_for('add_article') }}"
            class="btn btn-primary ms-auto my-3"
            >Add New Article</a
        >
    </div>
</div>
<div class="container-fluid">{% include 'articles.html' %}</div>
{% endblock %}
